<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <a name="top"></a>
<div class="home-page page">
  <div class="container">

    <div class="container-home">
      <h1 class="text-center"><a href="http://Sohailmohammad.es/aubrey/">Sohail<span class="tiny-space"> </span>Mohammad.es/<span class="tiny-space"> </span>Developer</a></h1>
      <p class="lead text-center">Sohail is an Indian living in Munich, Germany.
        <br>Connect with Sohail through the social media accounts shown below. </p>
    </div>
    <div class="text-center">
      <p id="talk-box" class="text-primary">&nbsp;</p>
    </div>
    
    

  </div>
</div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">&copy; Sohail Mohammad 2024</p>
        </div>
      </footer>
</body>
</html>